@use "../global" as g;

/*!
page > 404
------------------------------
*/
.error404-wrapper {
  display: grid;
  place-items: center;
  gap: 80px;
  margin: 80px 0;
  @include g.mq() {
    margin: 120px 0;
  }
}
.error404-text {
  line-height: 1.9;
  text-align: center;
  span {
    display: block;
  }
}
