@use "../../global" as g;

/*!
page > message
------------------------------
*/
.contact {
  margin: 80px 0 72px;
  @include g.mq() {
    margin: 120px 0 112px;
  }
}

.contact-text {
  line-height: 1.9;
  margin-bottom: 40px;
}

/* CF7のフォーム本体にグリッドを当てる */
.contact-form .wpcf7-form {
  display: grid;
  gap: 24px;
}
@media (min-width: 768px) {
  .contact-form .wpcf7-form {
    gap: 32px;
  }
}

.contact-form-item {
  display: grid;
  gap: 8px;
  @include g.mq() {
    grid-template-columns: 216px 1fr;
    gap: 16px;
    align-items: center;

    &:last-of-type {
      align-items: start;
    }
  }
}

.contact-form-label,
.contact-form-label-textarea {
  font-weight: 600;
  display: block;
  width: 100%;
  margin-bottom: 8px;

  @include g.mq() {
    display: flex;
    align-items: center;
    width: 216px;
    margin-right: 16px;
    flex-shrink: 0;
  }

  span {
    display: inline;
    white-space: nowrap;
  }
}

.contact-form-text {
  width: 100%;
  padding: 17px 16px;
  // opacity: 0.6;
  border-radius: 4px;
  outline: 0; //focus時のスタイルリセット
  background-color: var(--color-bg-lightest-blue);

  @include g.mq() {
    padding: 16px 24px;
  }

  &::placeholder {
    opacity: 0.6;
  }

  &:focus {
    box-shadow: 0 0 0 1px var(--color-sep-light-blue) inset,
      0 0 0 4px var(--color-border-grey);
  }
}

.contact-form-textarea {
  width: 100%;
  background-color: var(--color-bg-lightest-blue);
  padding: 17px 16px;
  min-height: 120px; // 初期設定_高さの最小値
  field-sizing: content; /* 文字数が増えて行数が増えた場合、勝手にリサイズしてくれる_但し、一部のブラウザのみ */
  border-radius: 4px;
  outline: 0; //focus時のスタイルリセット

  @include g.mq() {
    padding: 16px 24px;
    min-height: 160px;
  }

  &::placeholder {
    opacity: 0.6;
  }

  &:focus {
    box-shadow: 0 0 0 1px var(--color-sep-light-blue) inset,
      0 0 0 4px var(--color-sep-lightgrey);
  }
}

/* ----- 必須項目 ----- */
.contact-form-item:has(.wpcf7-validates-as-required, [aria-required="true"])
  > .contact-form-label::after,
.contact-form-item:has(.wpcf7-validates-as-required, [aria-required="true"])
  > .contact-form-label-textarea::after {
  content: "*必須";
  color: var(--color-text-red);
  font-size: 14px;
  letter-spacing: 0.05em;
  padding-left: 8px;
}

/* ----- プライバシーポリシー ----- */
.contact-form-privacy {
  line-height: 1.9;
  text-align: center;
  margin-top: 24px; //48px - 24px（フォームのgap分）
  @include g.mq() {
    margin-top: 48px; // 80px - 32px（フォームのgap分）
  }
  & a {
    color: var(--color-text-primary);
    text-decoration: underline;
  }
}

/* ----- プライバシーポリシー ----- */
.contact-form-submit-button {
  display: block;
  margin: 0 auto;
  font-size: 18px;
  letter-spacing: 0.05em;
  width: 320px;
  color: var(--color-text-white);
  padding: 24px 0;
  padding-left: 0.05em;
  border-radius: 50vh;
  border: 1px solid transparent; // hover時のズレ防止のため
  background-color: var(--color-bg-primary);
  transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;

  &:hover {
    background-color: var(--color-bg-white);
    color: var(--color-text-primary);
    border: 1px solid var(--color-text-primary);
  }
}

// /* ----- エラーメッセージ ----- */
.wpcf7 .wpcf7-response-output {
  margin-top: 24px;
  padding: 16px 20px;
  border-radius: 8px;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-align: center;
  border: 2px solid transparent; // デフォルト
}

/* 送信成功（緑） */
.wpcf7 form.sent .wpcf7-response-output {
  background: #e6f9ef;
  color: #047857;
  border-color: #047857;
}

/* 送信失敗（赤） */
.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
  background: #fee2e2;
  color: #b91c1c;
  border-color: #b91c1c;
}

/* バリデーションエラー(橙) */
.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
  background: #fff4e6;
  color: #c2410c;
  border-color: #c2410c;
}
