@use "../../global" as g;

/*!
page > company-info
------------------------------
*/

.company-info {
  margin: 80px 0;
  @include g.mq() {
    margin: 120px 0;
  }
}
.company-info-wrapper {
  display: grid;
  gap: 40px;
  @include g.mq() {
    gap: 56px;
  }
}
.company-info-image {
  width: 100%;

  & img {
    aspect-ratio: 340 / 226;
    border-radius: 0 0 0 32px;
    @include g.mq() {
      aspect-ratio: 2 / 1;
      border-radius: 0 0 0 56px;
    }
  }
}

.company-info-list {
  display: block;
}

.company-info-item {
  display: grid;
  gap: 4px;
  padding: 23px 0;
  border-top: 1px solid var(--color-sep-grey);
  @include g.mq() {
    grid-template-columns: 160px 1fr;
    gap: 0;
    padding: 32px 0;
  }

  &:last-child {
    border-bottom: 1px solid var(--color-sep-grey);
  }
}

.company-info-title {
  font-weight: 600;
  width: 100px;
  @include g.mq() {
    width: 160px;
  }
}

.company-info-data {
  line-height: 1.9;
}
.company-info-data-item {
  &::before {
    content: "ãƒ»";
  }
}
