@use "../../global" as g;

/*!
page > product-single > product-info
------------------------------
*/
.product-single-info {
  margin: 80px 0;

  @include g.mq() {
    margin: 120px 0;
  }
}

.product-single-gallery {
  display: grid;
  grid-template-columns: 29% 1fr 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  gap: 16px 8px;
  margin-bottom: 56px;
  @include g.mq() {
    grid-template-columns: 64% 1fr 1fr 1fr;

    gap: 24px 16px;
  }
}

.product-single-main-thumbnail {
  width: 100%;
  grid-column: 1 / 5;
  grid-row: 1 / 2;

  & img {
    width: 100%;
    aspect-ratio: 340 / 227;
    object-fit: cover;
    border-radius: 0 0 0 56px;
    border: 1px solid var(--color-border-lightgrey);
    @include g.mq() {
      aspect-ratio: 2 / 1;
    }
  }
}

.product-single-sub-thumbnail-list {
  grid-column: 2 / 5;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: subgrid;
  gap: 16px 8px; // subgridではgapは継承されないため再指定
  @include g.mq() {
    gap: 24px 16px;
  }
}

.product-single-sub-thumbnail {
  outline: 1px solid transparent; //初期設定は透明
  outline-offset: 1px; //少し外側
  cursor: pointer;

  &[aria-selected="true"] {
    outline-color: var(--color-bg-darkblue);
  }

  & img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border: 1px solid var(--color-border-lightgrey);
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.7; // hover時サムネイル画像が薄くなる
    }
  }
}

.product-single-info-list {
  display: grid;
}
.product-single-info-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px 0 23px;
  border-top: 1px solid var(--color-sep-grey);
  @include g.mq() {
    flex-direction: row;
    padding: 32px 0 31px;
  }
}
.product-single-info-item-title {
  font-weight: 600;
  @include g.mq() {
    width: 224px;
  }
}
.product-single-info-item-data {
  line-height: 1.9;
}

.product-single-info-list:last-child {
  border-bottom: 1px solid var(--color-sep-grey);
}
