@use "../../global" as g;

/*!
page > product > product-intro
------------------------------
*/
.product-intro {
  margin: 72px 0;
  padding-block: 8px; // hover時に上方向に8px浮くための逃げ
  overflow: visible; // 浮いたカードが切れない様に
  @include g.mq() {
    margin: 112px 0;
  }
}
.product-intro-wrapper {
  display: grid;
  grid-template-columns: repeat(2, minmax(160px, 1fr));
  gap: 21px 20px;
  overflow: visible; // 保険（親が overflow:hidden だと切れるため）

  @include g.mq() {
    grid-template-columns: repeat(3, minmax(160px, 1fr));
    gap: 35px 32px;
  }
  @include g.mq(lg) {
    gap: 61px 44px;
  }
}

/* ---  カード本体（浮き上がり効果） --- */
.product-intro-card {
  position: relative;
  transform: translateY(0);
  transition: transform 0.25s ease-out;

  //内部のリンクやボタンにフォーカスが当たった時でもカード全体が反応
  &:is(:hover, :focus-within) {
    transform: translateY(-8px); // どの段でも8pxあがる
    z-index: 1;
    /* ぼかしなし_KV色のボーダーライン */
    // box-shadow: 2px 4px 0 #f5f8fb;
  }
}

.product-intro-link {
  width: 100%;
  display: grid;
  gap: 8px;
  @include g.mq() {
    gap: 16px;
  }

  & img {
    aspect-ratio: 160 / 107;
    border-radius: 0 0 0 24px;
    border: 1px solid var(--color-border-lightgrey);
    @include g.mq() {
      aspect-ratio: 404 /269;
      border-radius: 0 0 0 32px;
    }
  }
}

.product-intro-text-container {
  display: grid;
  gap: 4px;
  @include g.mq() {
    gap: 8px;
  }
}
.product-intro-label {
  display: inline-block;
  font-size: 13px;
  padding: 2px 8px;
  border: 1px solid;
  border-radius: 50vh;
  justify-self: start;
  @include g.mq() {
    font-size: 16px;
  }
}
.product-intro-title {
  @include g.mq() {
    font-size: 20px;
    letter-spacing: 0.05em;
    padding-bottom: 3px;
  }
}
