/*!
global > color
------------------------------
*/
:root {
  --color-bg-primary: #1e4aa4;
  --color-bg-light-grey: #eaecef;
  --color-bg-lightest-blue: #f5f8fb;
  --color-bg-darkblue: #222a38;
  --color-bg-white: #ffffff;
  --color-bg-white-transparent: rgba(255, 255, 255, 0.2);
  --color-text-base: #49515f;
  --color-text-primary: #1e4aa4;
  --color-text-white: #ffffff;
  --color-text-white-grey: #d9d9d9;
  --color-text-light-base: #9a9eac;
  --color-text-red: #c82b2b;
  --color-text-black: #333333;
  --color-other-logo-blue: #06235e;
  --color-other-logo: #e5ebf0;
  --color-other-link: #497fdf;
  --color-sep-lightgrey: #eeeeee;
  --color-sep-light-blue: #497fdf;
  --color-sep-grey: rgba(51, 51, 51, 0.1); // #333 opacity: 0.1;
  --color-border-lightgrey: #dcdcdc;
  --color-border-grey: #c7c7c7;
}
