/*!
global > font
------------------------------
*/
:root {
  --font-family-base: "Zen Kaku Gothic New", sans-serif;
  --font-family-en: "Play", sans-serif;
  --font-family-tel: "Montserrat", sans-serif;
}
